In [367]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
from IPython.display import display

In [369]:
driver = webdriver.Chrome()

In [370]:
api_key = "RGAPI-631dd5ab-0d85-4669-b871-05270b2927b4"

In [371]:
leagueacc_url="https://porofessor.gg/live/na/iLLBilly-Billy"

In [372]:
driver.get(leagueacc_url)
ally_url=[]
ally_kda_list=[]
enemy_kda_list=[]

In [373]:
ally_tag=list(player.find_element(By.XPATH, '..').get_attribute('data-summonername') for player in driver.find_elements(By.XPATH, "//div[contains(@class, 'card card-5')]/div[contains(@class, 'cardHeader blue')]"))

In [374]:
enemy_tag=list(player.find_element(By.XPATH, '..').get_attribute('data-summonername') for player in driver.find_elements(By.XPATH, "//div[contains(@class, 'card card-5')]/div[contains(@class, 'cardHeader red')]"))

In [375]:
for player in ally_tag:
    print(player)
    name, tag = player.split("#")
    puuid_api_url = f"https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{name}/{tag}" + '?api_key=' + api_key
    player_info_raw = requests.get(puuid_api_url)
    while player_info_raw.status_code == 429:
        print("Sleeping")
        time.sleep(10)
        player_info_raw = requests.get(puuid_api_url)
    player_info = player_info_raw.json()['puuid']
    
    # player_info_raw = requests.get(puuid_api_url)
    # player_info = player_info_raw.json()['puuid']
    matches_api_url = f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{player_info}/ids?start=0&count=20" + '&api_key=' + api_key
    matches_info_raw = requests.get(matches_api_url)
    while matches_info_raw.status_code == 429:
        print("Sleeping")
        time.sleep(10)
        matches_info_raw = requests.get(matches_api_url)
    matches_info= list(matches_info_raw.json())
        
    # matches_info_raw = requests.get(matches_api_url)
    # matches_info = list(matches_info_raw.json())
    for match in matches_info:
        match_api_url= f"https://americas.api.riotgames.com/lol/match/v5/matches/{match}" + '?api_key=' + api_key
        match_info_raw = requests.get(match_api_url)
        while match_info_raw.status_code == 429:
            print("Sleeping")
            time.sleep(10)
            match_info_raw = requests.get(match_api_url)
        match_info= match_info_raw.json()
        # match_info_raw = requests.get(match_api_url)
        # match_info = match_info_raw.json()
        participantIndex = match_info['metadata']['participants'].index(player_info)
        if match_info['info']['queueId'] == 420:
            matchData=match_info['info']['participants'][participantIndex]
            key_stats = ['championName', 'kills', 'deaths', 'assists', 'goldEarned', 'totalDamageDealt', 'totalDamageDealtToChampions', 'visionScore', 'teamPosition', 'win']
            df = pd.DataFrame([{stat: matchData[stat] for stat in key_stats}])
            df.index = ['']
            display(df)
            # print(match_info['info']['participants'][participantIndex], end =" ")
            print(match_info['info']['participants'][participantIndex]['kills'], end =" ")
            print(match_info['info']['participants'][participantIndex]['deaths'], end =" ")
            print(match_info['info']['participants'][participantIndex]['assists'])

Yordle breeder#uwu
Sleeping
Sleeping

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Samira,8,3,4,11370,127589,17333,14,BOTTOM,True

8 3 4

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Samira,25,10,14,19904,317766,62883,22,BOTTOM,True

25 10 14
Pb79#97bP
iLLBilly#Billy

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Ahri,13,5,6,17250,237359,33218,16,MIDDLE,False

13 5 6

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Akali,11,5,9,11438,102358,32725,11,MIDDLE,False

11 5 9

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Ahri,13,6,7,17395,267249,39350,32,MIDDLE,False

13 6 7

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Ahri,16,5,10,17561,233044,44433,23,MIDDLE,True

16 5 10

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Aurora,2,5,0,5391,55720,6342,11,MIDDLE,False

2 5 0

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Aurora,3,0,2,5873,56467,10836,7,MIDDLE,True

3 0 2

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Aurora,5,3,0,8730,75697,14032,7,MIDDLE,False

5 3 0

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Akali,20,8,9,16239,156232,67455,30,MIDDLE,True

20 8 9

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Aurora,15,3,7,11915,125156,27772,30,MIDDLE,True

15 3 7

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Ahri,6,1,9,10510,137667,25493,17,MIDDLE,True

6 1 9
HTX KINGxKAY#NA1

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Kalista,17,9,5,17439,188287,34200,29,BOTTOM,False

17 9 5

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,5,8,21,11893,226616,44347,16,JUNGLE,True

5 8 21

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Kalista,6,10,2,11645,99965,15016,19,BOTTOM,False

6 10 2

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,8,3,21,12761,215091,28341,16,JUNGLE,True

8 3 21

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Kalista,6,6,5,13076,144413,13774,20,BOTTOM,True

6 6 5

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,1,9,2,9396,224797,25015,13,JUNGLE,False

1 9 2

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,8,5,17,13341,291049,40428,18,JUNGLE,True

8 5 17

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,8,4,7,13007,247571,30058,15,JUNGLE,True

8 4 7

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,3,6,17,13502,310896,30843,19,JUNGLE,True

3 6 17

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,8,8,17,14684,346683,44246,21,JUNGLE,True

8 8 17

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Maokai,7,9,8,12652,231174,33659,14,JUNGLE,False

7 9 8
KillerCryptize#NA1
Sleeping
Sleeping
Sleeping
Sleeping
Sleeping
Sleeping
Sleeping
Sleeping
Sleeping

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Yasuo,7,9,11,15621,254927,28639,17,MIDDLE,True

7 9 11

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Akshan,11,8,9,16705,181310,44023,23,MIDDLE,False

11 8 9

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Yasuo,4,5,2,7986,86841,9616,8,MIDDLE,False

4 5 2

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Vex,7,5,11,11804,158129,31954,5,MIDDLE,False

7 5 11

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Akshan,13,4,5,13750,162702,27484,12,MIDDLE,False

13 4 5

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Pantheon,13,7,13,11952,78653,32955,7,UTILITY,True

13 7 13

,championName,kills,deaths,assists,goldEarned,totalDamageDealt,totalDamageDealtToChampions,visionScore,teamPosition,win
,Vex,1,1,6,8913,97533,7327,9,MIDDLE,True

1 1 6

In [ ]:
requests.get(api)

In [ ]:
# for player in ally_tag:
#     print(player)
#     name, tag = player.split("#")
#     puuid_api_url = f"https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{name}/{tag}" + '?api_key=' + api_key
#     # player_info_raw = requests.get(puuid_api_url)
#     player_info = requests.get(puuid_api_url).json()['puuid']
#     matches_api_url = f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{player_info}/ids?start=0&count=20" + '&api_key=' + api_key
#     # matches_info_raw = requests.get(matches_api_url)
#     matches_info = list(requests.get(matches_api_url).json())
#     for match in matches_info:
#         match_api_url= f"https://americas.api.riotgames.com/lol/match/v5/matches/{match}" + '?api_key=' + api_key
#         # match_info_raw = requests.get(match_api_url)
#         match_info =requests.get(match_api_url).json()
#         participantIndex = match_info['metadata']['participants'].index(player_info)
#         print(match_info['info']['participants'][participantIndex]['kills'], end =" ")
#         print(match_info['info']['participants'][participantIndex]['deaths'], end =" ")
#         print(match_info['info']['participants'][participantIndex]['assists'])

In [ ]:
for player in ally_url:
    print(player)

In [429]:
# for player in ally_tag:
#     name, tag = player.split("#")
#     name = name.replace(" ", "%20")
#     tag = tag.replace(" ", "%20")
#     ally_url.append(f"https://www.op.gg/summoners/na/{name}-{tag}")
#     print(f"https://www.op.gg/summoners/na/{name}-{tag}")
# for player in enemy_tag:
#     name, tag = player.split("#")
#     name = name.replace(" ", "%20")
#     tag = tag.replace(" ", "%20")
#     ally_url.append(f"https://www.op.gg/summoners/na/{name}-{tag}")
#     print(f"https://www.op.gg/summoners/na/{name}-{tag}")
# -----------------------------------------------------------------------------------------------------------------------------------------------------------------
# for player in ally_url:
#     driver.get(player)
#     driver.get(ally_url[0])
#     kills=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='kills']").text)
#     deaths=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='deaths']").text)
#     assists=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='assists']").text)
#     kda=(kills+assists)/deaths
#     ally_kda_list.append(kda)
#     print(kda)kills=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='kills']").text)
# deaths=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='deaths']").text)
# assists=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='assists']").text)
# kda=(kills+assists)/deaths
# ally_kda_list.append(kda)
# print(kda)
# for player in enemy_url:
#     driver.get(player)
#     kills=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='kills']").text)
#     deaths=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='deaths']").text)
#     assists=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='assists']").text)
#     kda=(kills+assists)/deaths
#     enemy_kda_list.append(kda)
#     print(kda)
# ally_average_kda=sum(ally_kda_list)/5
# enemy_average_kda=sum(enemy_kda_list)/5