In [147]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
from IPython.display import display

In [149]:
driver = webdriver.Chrome()

In [150]:
api_key = "RGAPI-ec132e4d-77ce-4de1-bb45-fdaf011ba5b6"

In [151]:
leagueacc_url="https://porofessor.gg/live/na/rham57-NA1"

In [152]:
driver.get(leagueacc_url)

In [153]:
ally_tag=list(player.find_element(By.XPATH, '..').get_attribute('data-summonername') for player in driver.find_elements(By.XPATH, "//div[contains(@class, 'card card-5')]/div[contains(@class, 'cardHeader blue')]"))

In [154]:
enemy_tag=list(player.find_element(By.XPATH, '..').get_attribute('data-summonername') for player in driver.find_elements(By.XPATH, "//div[contains(@class, 'card card-5')]/div[contains(@class, 'cardHeader red')]"))

In [155]:
playerTag="rham57#NA1"
playerName, playerTag = playerTag.split("#")
get_puuid_url=f"https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{playerName}/{playerTag}" + '?api_key=' + api_key
get_puuid_raw=requests.get(get_puuid_url)
while get_puuid_raw.status_code == 429:
        print("Sleeping")
        time.sleep(10)
        get_puuid_raw = requests.get(get_puuid_url)
get_puuid = get_puuid_raw.json()['puuid']
get_current_match_url = f"https://na1.api.riotgames.com/lol/spectator/v5/active-games/by-summoner/{get_puuid}" + '?api_key=' + api_key
get_current_match_raw = requests.get(get_current_match_url)
while get_current_match_raw.status_code == 429:
        print("Sleeping")
        time.sleep(10)
        get_current_match_raw = requests.get(get_current_match_url)
get_current_match_puuids = get_current_match_raw.json()['participants']

all_matches = []

In [156]:
for playerNumbers in range(10):
    print(get_current_match_puuids[playerNumbers].get('riotId'))
    player_puuid=get_current_match_puuids[playerNumbers].get('puuid')
    matches_api_url = f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{player_puuid}/ids?start=0&count=30" + '&api_key=' + api_key
    matches_info_raw = requests.get(matches_api_url)
    while matches_info_raw.status_code == 429:
        print("Sleeping")
        time.sleep(10)
        matches_info_raw = requests.get(matches_api_url)
    matches_info= list(matches_info_raw.json())
        
    for match in matches_info:
        match_api_url= f"https://americas.api.riotgames.com/lol/match/v5/matches/{match}" + '?api_key=' + api_key
        match_info_raw = requests.get(match_api_url)
        while match_info_raw.status_code == 429:
            print("Sleeping")
            time.sleep(10)
            match_info_raw = requests.get(match_api_url)
        match_info= match_info_raw.json()
        participantIndex = match_info['metadata']['participants'].index(player_puuid)
        matchData=match_info['info']['participants'][participantIndex]
        if (match_info['info']['queueId']==420) and (matchData['timePlayed']>180):
            solo_testing_key_stats = ['championName','teamPosition','kills', 'deaths', 'assists', 'damageDealtToBuildings', 'deaths', 'visionScore','doubleKills', 'firstBloodAssist', 'firstBloodKill', 'firstTowerAssist', 'firstTowerKill', 'goldEarned', 'inhibitorKills', 'inhibitorTakedowns', 'killingSprees', 'objectivesStolen', 'totalMinionsKilled', 'totalDamageDealt', 'turretKills','win']
            team_testing_key_stats = ['kda', 'damagePerMinute', 'goldPerMinute', 'teamDamagePercentage','dodgeSkillShotsSmallWindow', 'takedowns']
            support_solo_key_stats = ['detectorWardsPlaced']
            support_team_key_stats = ['controlWardsPlaced', 'completeSupportQuestInTime']
            jungle_solo_key_stats = ['neutralMinionsKilled', 'detectorWardsPlaced', 'dragonKills']
            jungle_team_key_stats = ['jungleCsBefore10Minutes']
            base_stats = {
                    **{stat: matchData[stat] for stat in solo_testing_key_stats},
                    **{stat: matchData['challenges'][stat] for stat in team_testing_key_stats}
                }
            if matchData['teamPosition']== 'UTILITY':
                role_stats={
                    **{stat: matchData[stat] for stat in support_solo_key_stats},
                    **{stat: matchData['challenges'][stat] for stat in support_team_key_stats}
                }
            elif matchData['teamPosition']== 'JUNGLE':
               role_stats={
                    **{stat: matchData[stat] for stat in jungle_solo_key_stats},
                    **{stat: matchData['challenges'][stat] for stat in jungle_team_key_stats}
                }
            else:
                role_stats={}
            timePlayed = f"{matchData['timePlayed'] // 60}:{matchData['timePlayed'] % 60:02d}"
            all_matches.append({'player': get_current_match_puuids[playerNumbers].get('riotId'), 'allyOrEnemy': get_current_match_puuids[playerNumbers].get('teamId'), 'timePlayed' : timePlayed, **base_stats, **role_stats})

aryk#003
Good Regular #NA1
Nnuyanuel#NA1
ALLMYFAULT#SAD1
yeaokwhatever#NA1
rham57#NA1
NamiToes#uwu
Sleeping
Sleeping
Sleeping
Sleeping
Llienalsay#NA1
Greennnnn#NA1
Jawdrop#NA1
Sleeping
Sleeping
Sleeping
Sleeping

In [167]:
df=pd.DataFrame(all_matches)
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_row', None)  
pd.set_option('display.expand_frame_repr', False)
display(df)

                player  allyOrEnemy timePlayed  championName teamPosition  kills  deaths  assists  damageDealtToBuildings  visionScore  doubleKills  firstBloodAssist  firstBloodKill  firstTowerAssist  firstTowerKill  goldEarned  inhibitorKills  inhibitorTakedowns  killingSprees  objectivesStolen  totalMinionsKilled  totalDamageDealt  turretKills    win        kda  damagePerMinute  goldPerMinute  teamDamagePercentage  dodgeSkillShotsSmallWindow  takedowns  detectorWardsPlaced  controlWardsPlaced  completeSupportQuestInTime  neutralMinionsKilled  dragonKills  jungleCsBefore10Minutes
0             aryk#003          100      32:08         Janna      UTILITY      5       3       22                    1206           69            1             False           False             False           False       10224               0                   2              1                 0                  25             28488            0   True   9.000000       315.611910     318.092106              0.077617                           0         27                  4.0                 4.0                         0.0                   NaN          NaN                      NaN
1             aryk#003          100      16:25          Nami      UTILITY      1       0        7                     771           21            0             False            True              True           False        4674               0                   0              0                 0                  15             10549            0   True   8.000000       276.461948     284.626368              0.106639                           0          8                  1.0                 1.0                         1.0                   NaN          NaN                      NaN
2             aryk#003          100      26:05          Nami      UTILITY      0       6       13                     209           46            0             False           False             False           False        6136               0                   0              0                 0                  17             14317            0  False   2.166667       261.303979     235.160560              0.080154                           4         13                  4.0                 4.0                         0.0                   NaN          NaN                      NaN
3             aryk#003          100      32:30        Soraka      UTILITY      1       4       18                     501           81            0             False           False             False           False        8408               0                   0              0                 0                  35             21934            0  False   4.750000       326.727728     258.703635              0.080732                           1         19                  5.0                 5.0                         1.0                   NaN          NaN                      NaN
4             aryk#003          100      35:33          Nami      UTILITY      1       5        3                    1342           70            0             False           False              True           False        7998               0                   0              0                 0                  24             21289            0  False   0.800000       144.580905     224.955054              0.065054                           0          4                  5.0                 5.0                         1.0                   NaN          NaN                      NaN
5             aryk#003          100      31:05         Janna      UTILITY      2       7       21                      98           46            0             False           False             False           False        8605               0                   0              0                 0                  19             21775            0  False   3.285714       366.637212     276.749474              0.092644                           2         23                  5.0                 5.0                         1.0                   NaN          NaN                      NaN
6             aryk#003          100      33:07          Lulu      UTILITY      2      10       15                     968           60            0             False           False              True           False        8252               0                   0              0                 0                  24             25416            0  False   1.700000       198.884373     249.077716              0.062020                           0         17                  5.0                 5.0                         1.0                   NaN          NaN                      NaN
7             aryk#003          100      35:38     Seraphine      UTILITY      4       8       22                    1035           85            0             False            True             False           False       10738               0                   1              0                 0                  36             50940            1   True   3.250000       629.841044     301.207750              0.116497                           2         26                  5.0                 5.0                         0.0                   NaN          NaN                      NaN
8             aryk#003          100      35:02          Lulu      UTILITY      2       2       26                     301           88            0             False           False             False           False       10815               2                   4              0                 0                  28             34848            0   True  14.000000       300.644006     308.661419              0.067939                           0         28                  8.0                 8.0                         1.0                   NaN          NaN                      NaN
9             aryk#003          100      28:29          Lulu      UTILITY      2       4       26                     483           54            0              True           False             False           False        8256               0                   0              0                 0                  24             25731            0   True   7.000000       302.056849     289.821144              0.069364                          13         28                  7.0                 7.0                         1.0                   NaN          NaN                      NaN
10            aryk#003          100      38:08         Janna      UTILITY      1       3       19                    1545          108            0             False           False             False           False        9948               0                   1              0                 0                  25             25982            0   True   6.666667       217.908500     260.766762              0.056784                           0         20                  7.0                 7.0                         1.0                   NaN          NaN                      NaN
11            aryk#003          100      27:39        Soraka      UTILITY      0       5        9                     489           36            0             False           False             False           False        6402               0                   0              0                 0                  33             22643            0  False   1.800000       176.302086     231.512005              0.071713                          15          9                  3.0                 3.0                         1.0                   NaN          NaN                      NaN
12            aryk#003          100      28:17         Janna      UTILITY      0       6       19                     926           71            0             False           False             False           False        7450               0                   0              0                 0                  22             21123            0  False   3.166667       375.819396     263.253577              0.106498                           2         19                  7.0                 7.0                         1.0                   NaN          NaN                      NaN
13            aryk#003          100      21:04          Lulu      UTILITY      0       2        7                     269           26            0             False           False             False           False        4715               0                   0              0                 0                  28             13235            0  False   3.500000       191.550541     223.737193              0.097001                           0          7                  2.0                 2.0                         0.0                   NaN          NaN                      NaN
14            aryk#003          100      31:20          Nami      UTILITY      1       7       14                     880           48            0             False           False             False           False        8540               0                   0              0                 0                  24             23740            0  False   2.142857       320.174272     272.470236              0.114109                           1         15                  2.0                 2.0                         1.0                   NaN          NaN                      NaN
15            aryk#003          100      30:31         Yuumi      UTILITY      0       7       13                     138           47            0             False           False             False           False        7175               0                   0              0                 0                  18             17407            1  False   1.857143       349.021798     234.979414              0.108903                           0         13                  3.0                 3.0                         0.0                   NaN          NaN                      NaN
16            aryk#003          100      25:23         Rakan      UTILITY      0       7        7                      72           36            0             False           False             False           False        5778               0                   0              0                 0                  29             15780            0  False   1.000000       165.678564     227.556580              0.064216                           0          7                  3.0                 2.0                         0.0                   NaN          NaN                      NaN
17            aryk#003          100      30:12          Nami      UTILITY      0       2        7                     323           61            0             False           False             False           False        6206               0                   0              0                 0                  30             18683            0  False   3.500000       244.131908     205.397258              0.090026                           2          7                  7.0                 7.0                         0.0                   NaN          NaN                      NaN
18            aryk#003          100      33:54         Janna      UTILITY      1       6       13                     603           85            0             False           False             False           False        8842               0                   2              0                 0                  29             17821            1   True   2.333333       245.917520     260.741099              0.094563                           0         14                  5.0                 5.0                         0.0                   NaN          NaN                      NaN
19            aryk#003          100      34:21         Yuumi      UTILITY      4       4       32                     790           46            0             False           False             False           False       10206               0                   1              2                 0                  18             26931            0   True   9.000000       456.268855     297.021883              0.076206                           0         36                  5.0                 5.0                         1.0                   NaN          NaN                      NaN
20            aryk#003          100      32:07         Janna      UTILITY      2       4       12                     422           67            0             False           False             False           False        7961               0                   0              0                 0                  31             16977            0  False   3.500000       162.385915     247.775572              0.077155                           0         14                  2.0                 2.0                         1.0                   NaN          NaN                      NaN
21            aryk#003          100      28:55          Nami      UTILITY      1       8        9                     462           67            0             False           False             False           False        7508               0                   0              0                 0                  26             17094            0   True   1.250000       153.615691     259.509188              0.047733                           0         10                  5.0                 5.0                         0.0                   NaN          NaN                      NaN
22            aryk#003          100      28:44          Zyra      UTILITY      3       5       15                     896           71            0             False           False             False           False        8803               0                   1              0                 0                  36             50303            0   True   3.600000       567.134247     306.208772              0.123019                           3         18                  5.0                 5.0                         1.0                   NaN          NaN                      NaN
23            aryk#003          100      15:18          Lulu      UTILITY      0       2        3                     154           11            0             False           False             False           False        3491               0                   0              0                 0                  11              9368            0  False   1.500000       184.906661     227.975203              0.106282                           7          3                  1.0                 1.0                         1.0                   NaN          NaN                      NaN
24            aryk#003          100      27:53         Janna      UTILITY      3       1       25                    2018           60            0              True           False             False           False        9158               0                   0              1                 0                  28             26221            0   True  28.000000       488.387808     328.383141              0.109282                           1         28                  4.0                 4.0                         1.0                   NaN          NaN                      NaN
25            aryk#003          100      29:45          Sona      UTILITY      2       6       18                    1749           58            0             False           False             False           False        9078               1                   1              0                 0                  17             19788            0   True   3.333333       340.702575     305.082561              0.093456                           0         20                  4.0                 4.0                         1.0                   NaN          NaN                      NaN
26            aryk#003          100      15:22         Janna      UTILITY      0       4        5                       0           16            0              True           False             False           False        3849               0                   0              0                 0                  14             11211            0  False   1.250000       303.866237     250.373612              0.127300                           2          5                  2.0                 2.0                         1.0                   NaN          NaN                      NaN
27            aryk#003          100      27:18          Nami      UTILITY      2       8        8                     394           53            0             False           False             False           False        7118               0                   0              0                 0                  23             17728            0  False   1.250000       344.535914     260.645721              0.106707                           0         10                  6.0                 6.0                         1.0                   NaN          NaN                      NaN
28            aryk#003          100      38:08        Soraka      UTILITY      1       8       17                     573           72            0             False           False             False           False        9023               0                   0              0                 0                  28             20589            0   True   2.250000       150.278319     236.578475              0.041293                           1         18                  8.0                 8.0                         1.0                   NaN          NaN                      NaN
29   Good Regular #NA1          100      37:53          Jhin       BOTTOM      6      10       13                    3074           23            0             False           False             False           False       15096               0                   0              1                 0                 245            255296            1  False   1.900000       925.473401     398.342380              0.175345                           6         19                  NaN                 NaN                         NaN                   NaN          NaN                      NaN
30   Good Regular #NA1          100      23:55        Thresh      UTILITY      2       9       14                       0           49            0              True           False             False           False        6840               0                   0              0                 0                  33             22141            0  False   1.777778       337.824996     285.918359              0.117532                           0         16                  2.0                 2.0                         1.0                   NaN          NaN                      NaN
31   Good Regular #NA1          100      27:43          Jhin       BOTTOM      3       3        6                    1816           17            1             False           False             False           False       10848               0                   0              1                 0                 204            143629            0  False   3.000000       525.956711     391.287338              0.226594                           2          9                  NaN                 NaN                         NaN                   NaN          NaN                      NaN
32   Good Regular #NA1          100      28:25         Kaisa       BOTTOM     10       6        8                    7106           19            1             False            True             False           False       13793               1                   1              2                 0                 215            162898            2   True   3.000000       863.604529     485.133532              0.243336                           0         18                  NaN                 NaN                         NaN                   NaN          NaN                      NaN

In [132]:
requests.get(api)

NameError: name 'api' is not defined

In [ ]:
# for player in ally_tag:
#     print(player)
#     name, tag = player.split("#")
#     puuid_api_url = f"https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/{name}/{tag}" + '?api_key=' + api_key
#     # player_info_raw = requests.get(puuid_api_url)
#     player_info = requests.get(puuid_api_url).json()['puuid']
#     matches_api_url = f"https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/{player_info}/ids?start=0&count=20" + '&api_key=' + api_key
#     # matches_info_raw = requests.get(matches_api_url)
#     matches_info = list(requests.get(matches_api_url).json())
#     for match in matches_info:
#         match_api_url= f"https://americas.api.riotgames.com/lol/match/v5/matches/{match}" + '?api_key=' + api_key
#         # match_info_raw = requests.get(match_api_url)
#         match_info =requests.get(match_api_url).json()
#         participantIndex = match_info['metadata']['participants'].index(player_info)
#         print(match_info['info']['participants'][participantIndex]['kills'], end =" ")
#         print(match_info['info']['participants'][participantIndex]['deaths'], end =" ")
#         print(match_info['info']['participants'][participantIndex]['assists'])

In [ ]:
for player in ally_url:
    print(player)

In [429]:
# for player in ally_tag:
#     name, tag = player.split("#")
#     name = name.replace(" ", "%20")
#     tag = tag.replace(" ", "%20")
#     ally_url.append(f"https://www.op.gg/summoners/na/{name}-{tag}")
#     print(f"https://www.op.gg/summoners/na/{name}-{tag}")
# for player in enemy_tag:
#     name, tag = player.split("#")
#     name = name.replace(" ", "%20")
#     tag = tag.replace(" ", "%20")
#     ally_url.append(f"https://www.op.gg/summoners/na/{name}-{tag}")
#     print(f"https://www.op.gg/summoners/na/{name}-{tag}")
# -----------------------------------------------------------------------------------------------------------------------------------------------------------------
# for player in ally_url:
#     driver.get(player)
#     driver.get(ally_url[0])
#     kills=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='kills']").text)
#     deaths=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='deaths']").text)
#     assists=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='assists']").text)
#     kda=(kills+assists)/deaths
#     ally_kda_list.append(kda)
#     print(kda)kills=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='kills']").text)
# deaths=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='deaths']").text)
# assists=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='assists']").text)
# kda=(kills+assists)/deaths
# ally_kda_list.append(kda)
# print(kda)
# for player in enemy_url:
#     driver.get(player)
#     kills=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='kills']").text)
#     deaths=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='deaths']").text)
#     assists=float(driver.find_element(By.XPATH, "//div[@data-tab-id='championsData-soloqueue' and @class= 'content active']/div[@class='number-only-chart text-center']/div[@class='number']/span[@class='assists']").text)
#     kda=(kills+assists)/deaths
#     enemy_kda_list.append(kda)
#     print(kda)
# ally_average_kda=sum(ally_kda_list)/5
# enemy_average_kda=sum(enemy_kda_list)/5